---
---

@import "{{ site.theme }}"; 
body {
    font-family: Kabana;
    margin: 35px
};
h1 {
    font-family: Kabana;
};
h2 {
    font-family: Kabana;
};
h3 {
    font-family: Kabana;
    font-size: 0.1em;
}
@ONLINE{muni,
  publisher = {Masaryk University},
  title     = {Masaryk University},
  date      = {1996/2009},
  url       = {https://www.muni.cz/en},
  urldate   = {2016-12-09},
  location  = {Brno},
  langid    = {english}
}
